.summary-card {
    display: flex;
    margin-bottom: 10px;

    .profile-img {
        margin-right: 10px;
    }

    .profile-summary {
        display: grid;
        grid-template-columns: 240px 100px;
        grid-template-rows: auto 1fr;

        .name {
            font-weight: 600;
        }

        .info {
            grid-row: 2 / span 2;

            .reviews {
                color: gray;
            }
        }

        .rates, .view-profile {
            align-self: end;
            justify-self: end;
        }
    }
}