<mat-card class="summary-card">
    <mat-card-title class="profile-img">
        <img [src]="profileSummary?.image" />
    </mat-card-title>


    <mat-card-content class="profile-summary">
        <p class="name">{{ profileSummary?.name }}</p>
        <div class="info">
            <div class="star-rating">
                <star-rating 
                    [labelText]="profileSummary?.stars"
                    [rating]="profileSummary?.stars"
                    [showHalfStars]="true"
                    [readOnly]="true"
                    size="small">
                </star-rating> <span class="reviews">{{ profileSummary?.totalNumReviews }} reviews </span>
            </div>
            <div class="jobs">
                {{ profileSummary?.totalNumJobsComplete }} job(s) completed!
            </div>
            <div class="last-job-completed">
                Last job completed: {{ profileSummary?.dateLastJobCompleted }}
            </div>
            <div class="background">
                Background check: {{ profileSummary?.backgroundCheckStatus }}
            </div>
        </div>
        <div class="rates">
            <span class="cost">${{ profileSummary?.usdRate }}/{{ profileSummary?.neighborRate }} GC</span>
            <br />
            estimated cost
        </div>
        <mat-card-actions class="view-profile">
            <button mat-raised-button color="primary" (click)="viewProfile(profileSummary?.id)">View Profile</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>