.tab-body-wrapper {
    padding: 10px 5px;

    .user-info {
        display: flex;
        justify-content: space-between;

        .info {
            display: flex;

            h2 {
                margin-top: 0;
            }

            img {
                margin-right: 10px;
            }
        }

        .contact-info {
            justify-self: end;

            button {
                margin-left: 10px;
            }
        }
    }

    .bio {
        margin-bottom: 20px;
    }

    .need-help, .help-with {
        display: inline-block;
        margin-right: 60px;
        vertical-align: top;
    }

    .social-media {
        margin-top: 20px;
    }
}
