<mat-tab-group>
    <mat-tab label="About">
        <div class="tab-body-wrapper">
            <div class="user-info">
                <div class="info">
                    <img [src]="profile?.image" />
                    <div>
                        <h2>{{ profile?.name }}</h2>
                        <div class="star-rating">
                            <star-rating 
                                [labelText]="profile?.stars"
                                [rating]="profile?.stars"
                                [showHalfStars]="true"
                                [readOnly]="true">
                            </star-rating> ({{ profile?.totalNumReviews }})</div>
                        <div>Location: {{ profile?.city }}, {{ profile?.state }} </div>
                        <div>Helped out {{ profile?.totalNumJobsComplete }} time(s)</div>
                        <div *ngIf="profile?.backgroundCheckStatus === 'Verified'">
                            Background checked <mat-icon>check</mat-icon>
                        </div>
                        <div *ngIf="profile?.friends.length > 0">
                            Recommended by {{ profile?.friends.length }} other neighbor(s)
                        </div>
                        <div>Member since: {{ profile?.memberSince }}</div>
                    </div>
                </div>
                <div class="contact-info">
                    <button mat-raised-button (click)="showToast('Message sent!')">
                        <mat-icon>message</mat-icon>Message
                    </button>
                    <button mat-raised-button (click)="showToast('Availability checked!')">
                        <mat-icon>calendar_today</mat-icon>Check availability
                    </button>
                    <button mat-raised-button (click)="showToast('Call requested!')">
                        <mat-icon>call</mat-icon>Request a call
                    </button>
                </div>
            </div>
            <div class="bio">
                <h3>Bio</h3>
                {{ profile?.bio }}
            </div>
            <div class="user-help">
                <div class="need-help">
                    <div>What I need help with</div>
                    <ul>
                        <li *ngFor="let need of needs">
                            {{ need }}
                        </li>
                    </ul>
                </div>
                <div class="help-with">
                    <div>What I can help with</div>
                    <ul>
                        <li *ngFor="let skill of skills">
                            {{ skill }}
                        </li>
                    </ul>
                </div>
                <div class="payment">
                    I accept: GenCoins
                </div>
            </div>
            <div class="social-media">
                <div>Social</div>
                <a [href]="profile?.facebook" target="_blank">Facebook</a>,
                <a [href]="profile?.indeed" target="_blank">Indeed</a>,
                <a [href]="profile?.linkedin" target="_blank">LinkedIn</a>,
                <a [href]="profile?.thumbtack" target="_blank">Thumbtack</a>
            </div>
        </div>

    </mat-tab>
    <mat-tab label="Photos">
        Coming soon
    </mat-tab>
    <mat-tab label="Reviews">
        Coming soon
    </mat-tab>
</mat-tab-group>