@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~css-star-rating/css/star-rating.min.css";
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    color: #673ab7;
}

.rating {
    justify-content: unset;
    margin-bottom: 0;

    &.small .label-value {
        font-size: 13px;
        line-height: 13px;
    }
}

.star-rating {
    display: flex;
    align-items: center;
}