<div class="home-wrapper">
    <h1 class="title">P.E.C.E.</h1>
    <h3 class="subtitle">Participatory Emerging Community Exchange</h3>

    <div class="search">
        <div>What are you looking for?</div>
        <input type="text" matInput [formControl]="myControl">
    </div>

    <div class="buttons">
        <button mat-raised-button color="primary" (click)="search('canHelp')">I can help</button>
        <button mat-raised-button color="primary" (click)="search('needHelp')">I need help</button>
    </div>

    <ng-container *ngIf="summaryInfo?.length > 0">
        <div class="help">These people
            <span *ngIf="type === 'needHelp'">can help you</span>
            <span *ngIf="type === 'canHelp'">need your help</span>
            with <b>{{ searchStr }}</b>
        </div>
        <div *ngFor="let summary of summaryInfo">
            <app-summary [profileSummary]="summary"></app-summary>
        </div>
    </ng-container>

    <ng-container *ngIf="summaryInfo?.length === 0">
        <div class="none-found">
            Sorry! Couldn't find your request. Try another.
        </div>
    </ng-container>
</div>