:host {
    display: flex;
    justify-content: center;
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title {
    margin: 0;
}
.subtitle {
    margin: 0;
    margin-bottom: 50px;
}

.search {
    margin-bottom: 10px;
    input {
        height: 20px;
        font-size: 13px;
        padding: 3px;
        width: 500px;
    }
}

.buttons {
    display: flex;
    margin-bottom: 50px;
    justify-content: flex-end;
    button {
        margin-left: 10px;
    }
}

.help {
    margin-bottom: 5px;
}